html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	background-color: #7a419b;
	background: linear-gradient(135deg, #7c1599 0%, #921099 48%, #7e4ae8 100%);
	background-size: cover;
	justify-content: center;
	align-items: center;
}

.player {
	max-width: 750px;
	border: 5px solid rgba(0, 0, 0, 2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 2);
	position: relative;
	font-size: 0;
	overflow: hidden;
}

.progress {
	flex: 10;
	position: relative;
	display: flex;
	flex-basis: 100%;
	height: 5px;
	transition: 0.3s;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: ew-resize;
}
.progress__filled {
	width: 50%;
	background: #ffc600;
	flex: 0;
	flex-basis: 50%;
}
